.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
   
}

.pagination button {
    width: 25px;
    border-radius: 2.5px;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: green;
    color: #101010;
} 
